@import '../../global.scss';

.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  background-color: #093133;


  .hero-content {
    flex: 1;
    max-width: 50%;

    .hero-text {
      h1 {
        font-size: 36px;
        margin-bottom: 20px;
        color: $theme-main-color;
      }

      p {
        font-size: 18px;
        margin-bottom: 30px;
        color: $theme-main-color;
      }

      .button-container {
        display: flex;

        button {
          background-color: $primary_bg;
          padding: 10px 20px;
          margin-right: 20px;
          font-size: 16px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          color: $white;
        }


        .btn:hover {

          background-color: $white;
          color: $primary_bg;
        }
      }
    }
  }

  .hero-image {
    flex: 1;
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    img {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      object-fit: cover;
      box-shadow: 0 0 15px rgba(0, 255, 255, 0.6);
      animation: float 4s ease-in-out infinite, fadeIn 1.5s ease-in-out;
      transition: transform 0.3s ease-in-out;
    }
  
    img:hover {
      transform: scale(1.05);
      box-shadow: 0 0 25px rgba(0, 255, 255, 0.9);
    }
  }
  
}

/* Footer.scss */

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;

  .social-icons {
    margin-bottom: 20px;

    a {
      color: #fff;
      font-size: 24px;
      margin: 0 10px;

      &:hover {
        color: #007bff;
      }
    }
  }

  p {
    margin: 0;
  }
}
.profile-pic-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.profile-pic {
  width: 250px; //
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.6); // Neon glow effect
  animation: float 4s ease-in-out infinite, fadeIn 1.5s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

.profile-pic:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px rgba(0, 255, 255, 0.9);
}

// Floating effect
@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-5px); }
  100% { transform: translateY(0px); }
}

// Fade-in effect
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
