@import '../../global.scss';
.hero_section {
position: relative;
top: 80px;
.hero_section_img{
    img{
        width: 400px;
        border-radius: 50%;
    }
}
}

/* Footer.scss */

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  
    .social-icons {
      margin-bottom: 20px;
  
      a {
        color: #fff;
        font-size: 24px;
        margin: 0 10px;
  
        &:hover {
          color: #007bff;
        }
      }
    }
  
    p {
      margin: 0;
    }
  }
  
  