:root {
  --theme-main-color: #dddd;
  --theme-background-color: #09666c;
  --github: #e62872;
  --white: #cbc6c6;
  --black: #000000;
  --darkblue: #1c1e53;
  --primary: #5e3bee;
  --primary_bg: rgb(98 45 27 / 87%);
  --mainColor: #222831;
  --sideColor: #112031;
  --lightColor: #f05454;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: var(--theme-background-color);
  color: var(--mainColor);
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--theme-main-color);
}